@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:ital,wght@0,400;0,600;1,300&display=swap');

body{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


header{
    z-index: 5;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 90px;
    position: fixed;
    padding: 0 30px;
    top: 0;
    left: 0;
    code{
        padding: 4px 6px;
        border-radius: 3px;
        background-color: rgba(128, 128, 128, 0.457);
        font-size: 30px;
    }
    .menuIcon{
        height: 45px;
        width: 45px;
        margin-right: 15px;
        fill: white;
    }
    .menuIcon:hover{
        cursor: pointer;
    }
}
.drawer{
    background-color: #212121;
    color: #F56539;
    height: 100%;
    min-width: 200px;
    width: 30vw;
    .exit svg{
        position: absolute;
        height: 50px; width: 50px;
        top: 20px; left: 20px;
    }
    .exit svg:hover{
        cursor: pointer;
    }
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
        list-style-type: none;
        padding: 0 20px;
        li{
            width: 80%;
            padding: 9px 15px;
            border-radius: 100px;
            border: 2px solid #F56539;
            display: flex;
            justify-content: center;
            margin: 12px auto;
            transition: 300ms;
            a{
                width: 100%;
                padding: 0 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #F56539;
                text-decoration: none;
                font-size: 18px;
                svg{
                    margin-right: 20px;
                }
            }
        }
        li:hover{
            cursor: pointer;
            background-color: #F56539;
            a{
                color: white;
                svg{
                    fill: white;
                }
            }
        }
    }
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 100vh;
    .left, .right{
        padding-top: 90px;
    }
    .left{
        grid-column: span 1;
        background-color: #F56539;
        position: relative;
        img{
            z-index: 2;
            position: absolute;
            top: 25vh; right: -25vh;
            height: 50vh;
            -webkit-filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.6));
            filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.6));
        }
    }
    .right{
        padding: 90px 40px 90px 40vh;
        grid-column: span 2;
        background-color: #212121;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .topLabel{
            opacity: .7;
            margin-bottom: 0;
            font-size: 18px;
        }
        h1{
            margin: 0;
            font-size: 51px;
        }
        .description{
            opacity: .7;
            font-size: 21px;
        }
        .buttons{
            display: flex;
            margin-top: 40px;
        }
        .btn-out, .btn-in{
            padding: 9px 18px;
            border-radius: 200px;
            font-size: 18px;
            border: 3px solid #F56539;
            letter-spacing: 1px;
            transition: 200ms;
        }
        .btn-out{
            margin-right: 30px;
            background-color: #212121;
            color: #F56539;
        }
        .btn-out:hover{
            background-color: #F56539;
            color: white;
        }
        .btn-in:hover{
            background-color: #F56539;
            color: white;
        }
        .btn-in{
            background-color: #F56539;
            color: #212121;
        }
        button:hover{
            cursor: pointer;
        }
    }
}

#who{
    background-color: #212121;
    min-height: 100vh;
    padding: 40px 0;
    color: white;
    display: flex;
    flex-direction: column;
    .separator{
        box-sizing: border-box;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        padding: 0 80px;
        .dot{
            height: 10px; width: 10px;
            margin: 0 15px;
            border-radius: 30px;
            background-color: #F56539; 
        }
        .line{
            margin-left: 15px;
            height: 4px;
            flex-grow: 1;
            border-radius: 30px;
            background-color: #F56539;
        }
    }
    .content{
        flex-grow: 1;
        display: flex;
        padding: 0px 80px;
        .img{
            display: flex;
            align-items: center;
            img{
                height: 50vh;
            }
        }
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 70px;
            h1{
                font-size: 51px;
                color: #F56539;
            }
            p{
                opacity: .7;
                font-size: 21px;
            }
        }
    }
}

.education{
    background-color: #212121;
    color: white;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    .text{
        flex-grow: 1;
        
        h1{
            font-size: 51px;
            color: #F56539;
        }
        .container{
            padding-top: 30px;
            padding-right: 40px;
            .item{
                background-color: #613528;
                transition: 300ms;
                border-radius: 15px;
                padding: 15px 21px;
                display: flex;
                margin: 21px 0;
                align-items: center;
                .icon{
                    border-radius: 150px;
                    height: 60px; width: 60px;
                    background-color: #F56539;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    svg{
                        height: 35px; width: 35px;
                        fill: white;
                    }
                }
                &-text{
                    padding-left: 15px;
                    .labelTop{
                        color: #F56539;
                        font-size: 15px;
                    }
                    .name{
                        font-size: 21px;
                        margin-top: 9px;
                    }
                    .labelBottom{
                        font-size: 18px;
                        opacity: .7;
                    }
                    *{
                        font-weight: bold;
                        margin: 0;
                    }
                }
            }
            .item:hover{
                background-color: #8B432D;
            }
        }
    }
    .img{
        display: flex;
        align-items: center;
        img{
            height: 50vh;
        }
    }
}

.skills{
    background-color: #212121;
    padding: 60px 0;
    h1{
        font-size: 51px;
        color: #F56539;
        text-align: center;
    }
    .megaContainer{
        width: 90vw;
        margin: 0 auto;
        display: flex;
        .container{
            box-sizing: border-box;
            border-radius: 15px;
            box-shadow: rgb(245 101 57 / 30%) 0px 0px 30px;
            width: 200px; height: 200px;
            display: flex;
            flex-direction: column;
            color: white;
            align-items: center;
            justify-content: center;
            margin: 15px 25px;
            span{
                width: 200px;
                text-align: center;
            }
        }
    }
}